 {% extends 'base.html' %}

 {% block title%} About {% endblock title%}

 {% block body %}
 <div class="container-fluid px-0">
 <img src="https://source.unsplash.com/1600x300/?text,utility" class="d-block w-100" alt="...">
 </div>


 <h1 class="text-center my-3"> About Us<h1>
 <div class="container px-4">

  <div class="row py-2 float-center">
    <div class="col">
      <div class="p-3 border bg-light" style="font-size: 20px;">
        <p class="fw-lighter">TextUtils is simply a set of utility functions to do operations on String objects.
        </p>  
    </div>
      </div>
      </div>
      </div>
 {% endblock body%}